@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);
/*@import url("vScroll.css");*/
/* line 5, ../sass/xnotes.scss */
body {
  height: 100%;
  font-family: 'Roboto','Source Sans Pro', "Lucida sans",Trebuchet MS, Trebuchet, Verdana;
  font-weight: 100;
  font-size: 15px;
  padding: 0 8px;
  margin: 0;
  overflow: hidden;
  background: transparent url(../images/textures/stripes_1.png) repeat left top;
}

/* line 15, ../sass/xnotes.scss */
a {
  text-decoration: none;
  color: #047FAB;
}

/* line 19, ../sass/xnotes.scss */
a:hover {
  color: #030708;
}

/* line 22, ../sass/xnotes.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 26, ../sass/xnotes.scss */
ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 31, ../sass/xnotes.scss */
h1.siteTitle {
  display: inline-block;
  width: 220px;
  text-align: right;
  /*color:#165AAE;*/
  color: #dcdcdc;
  font: bold 23px Helvetica, Verdana, Geneva, Arial, sans-serif;
  vertical-align: top;
}

/* line 40, ../sass/xnotes.scss */
#loginPage H1 {
  display: block;
  margin: 0 auto;
  height: 50px;
  text-align: center;
}

/* line 46, ../sass/xnotes.scss */
#loginPage form {
  width: 40%;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px;
}

/* line 54, ../sass/xnotes.scss */
#loginPage .formEntry {
  text-align: center;
}

/* line 57, ../sass/xnotes.scss */
#loginPage label {
  display: block;
}

/* line 60, ../sass/xnotes.scss */
#loginPage .loginButton {
  margin-top: 20px;
  padding: 10px 20px;
  font: bold 15px "Lucida sans", Helvetica, "Trebuchet MS", Verdana;
  border: 1px solid #dcdcdc;
  text-shadow: 1px 0 #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, white, #e5e5e5);
  background-image: -moz-linear-gradient(top, white, #e5e5e5);
  background-image: -ms-linear-gradient(top, white, #e5e5e5);
  background-image: -o-linear-gradient(top, white, #e5e5e5);
  background-image: linear-gradient(top, #ffffff, #e5e5e5);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='white', endColorstr='#e5e5e5');
}

/* line 74, ../sass/xnotes.scss */
#loginPage .messages {
  width: 40%;
  margin: 20px auto;
  text-align: center;
}

/* line 81, ../sass/xnotes.scss */
#topMenu {
  display: block;
  display: inline-block;
  /*width: 80%;*/
  float: right;
  text-align: right;
}

/* line 88, ../sass/xnotes.scss */
#userMenu {
  display: inline-block;
  height: 25px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 5px;
}

/* line 95, ../sass/xnotes.scss */
#userMenu LI {
  position: relative;
  display: inline-block;
  padding: 2px 5px;
  margin: 0 5px;
  cursor: pointer;
  color: #96B7DF;
  -moz-transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -mq-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

/* line 108, ../sass/xnotes.scss */
#userMenu LI:hover {
  color: #049494;
}

/* line 112, ../sass/xnotes.scss */
#userMenu LI UL {
  display: none;
  position: absolute;
  right: 0;
  padding: 10px;
  width: 200px;
  z-index: 5000;
  background-color: #FFF;
  box-shadow: 0 0 5px;
  border-radius: 4px;
}

/* line 123, ../sass/xnotes.scss */
#userMenu LI:hover UL {
  display: block;
}

/* line 126, ../sass/xnotes.scss */
#userMenu LI UL LI {
  display: list-item;
  text-align: left;
  -moz-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  -mq-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

/* line 135, ../sass/xnotes.scss */
#userMenu LI UL LI:hover {
  background-color: #049494;
  color: #FFF;
  font-weight: bold;
}

/* line 140, ../sass/xnotes.scss */
#userMenu LI UL LI:hover a {
  color: #FFF;
  display: block;
}

/* line 144, ../sass/xnotes.scss */
#userMenu LI .picto {
  background-color: #96B7DF;
  -moz-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  -mq-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

/* line 152, ../sass/xnotes.scss */
#userMenu LI:hover .picto {
  background-color: #049494;
}

/* line 155, ../sass/xnotes.scss */
#loginMenu .picto {
  display: inline-block;
  width: 15px;
  height: 19px;
  background: url("../images/pictos.png") no-repeat -124px -89px;
  vertical-align: top;
}

/* line 162, ../sass/xnotes.scss */
#importMenu .picto {
  display: inline-block;
  width: 19px;
  height: 22px;
  background: url("../images/pictos.png") no-repeat -187px -130px;
  vertical-align: top;
}

/* line 169, ../sass/xnotes.scss */
#adminMenu {
  display: inline-block;
  height: 25px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 5px;
}

/* line 178, ../sass/xnotes.scss */
#adminMenu LI {
  padding: 2px 5px;
}

/* line 181, ../sass/xnotes.scss */
#adminMenu a, a.adminLink {
  color: #FFBD69;
}

/* line 184, ../sass/xnotes.scss */
#toolsLinks {
  display: inline-block;
  width: 80%;
  text-align: right;
}

/* line 189, ../sass/xnotes.scss */
#col1 {
  height: 100%;
  /*width: 20%;*/
  width: 220px;
  /*padding:5px;*/
  z-index: 5000;
  float: left;
  /*background-color: #FFFFFF;
  box-shadow:3px 0 3px rgba(128,128,128,0.3);*/
}

/* line 199, ../sass/xnotes.scss */
#notebooksSection {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  /*
  box-shadow: 0 0 0 1px #FFF;
  border:2px solid #eee;
  */
}

/*
#col1 {
	position:absolute;
	left:-210px;
	-moz-transition:left 0.4s ease;
	-webkit-transition:left 0.4s ease;
	-o-transition:left 0.4s ease;
	-ms-transition:left 0.4s ease;
	transition:left 0.4s ease;		
}
#col1:hover{
	left:0;
}*/
/* line 222, ../sass/xnotes.scss */
#nbList {
  width: 200px;
  height: 350px;
  overflow-y: auto;
  padding: 0;
  /*box-shadow: 0 0 2px 1px #DDD inset;*/
}

/* line 229, ../sass/xnotes.scss */
#nbList li {
  padding: 4px 0;
  border-bottom: 1px solid #047FAB;
}

/* line 233, ../sass/xnotes.scss */
#notebooksTools {
  margin-top: 20px;
}

/* line 236, ../sass/xnotes.scss */
#infoMessage {
  display: none;
  position: absolute;
  text-align: center;
  width: 300px;
  background-color: #FFF;
  left: 50%;
  margin-left: -150px;
}

/* line 245, ../sass/xnotes.scss */
.info {
  border: 1px solid #508050;
  background-color: #D0F0D0;
  border-radius: 2px;
  box-shadow: 0 0 6px 0 #C0F0C0;
  color: #060;
}

/* line 252, ../sass/xnotes.scss */
.warning {
  border: 1px solid #CC6633;
  background-color: #F0D070;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 #F0D070;
  color: #AA4400;
}

/* line 259, ../sass/xnotes.scss */
.error {
  border: 1px solid #800000;
  background-color: #F0D0D0;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 #F0B0B0;
  color: #AA0000;
}

/* line 266, ../sass/xnotes.scss */
#mainContent {
  position: relative;
  float: left;
  margin-left: 10px;
  /*padding:5px;*/
  background-color: #fff;
  border-radius: 4px;
  /*
  box-shadow: 0 0 0 1px #FFF;
  border:2px solid #eee;
  */
}

/* line 279, ../sass/xnotes.scss */
.noteBookTitle {
  /*background: transparent url(http://www.cedricrey.fr/images/bg.png) repeat center;
  text-shadow: 1px 1px rgba(255,255,255,0.5);*/
  margin: 0;
  padding: 5px 20px;
  /* 
  border:1px solid #049494;
  border-radius: 3px 0 3px 0;
  */
  border-radius: 4px 4px 0 0;
  color: #3E3E40;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #eaeaea), color-stop(40%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #eaeaea 0%, #ffffff 40%);
  background-image: -moz-linear-gradient(bottom, #eaeaea 0%, #ffffff 40%);
  background-image: -o-linear-gradient(bottom, #eaeaea 0%, #ffffff 40%);
  background-image: linear-gradient(bottom, #eaeaea 0%, #ffffff 40%);
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 1px 0 #DDD;
}

/* line 294, ../sass/xnotes.scss */
#noteBook {
  position: relative;
  padding: 5px;
  padding-right: 25px;
  overflow-y: visible;
  box-shadow: 0 0 3px 0 rgba(128, 128, 128, 0.4) inset;
}

/*Touch screen*/
/* line 303, ../sass/xnotes.scss */
#noteBook.touchSortable {
  padding-left: 3em;
  background-color: #DDD;
}

/* line 308, ../sass/xnotes.scss */
.section {
  padding: 5px 5px;
  margin-bottom: 10px;
  background-color: #82B3BF;
  border-radius: 4px 4px 0 0;
  -moz-transition: box-shadow ease 0.4s;
  -webkit-transition: box-shadow ease 0.4s;
  -o-transition: box-shadow ease 0.4s;
  -ms-transition: box-shadow ease 0.4s;
  transition: box-shadow ease 0.4s;
}

/* line 319, ../sass/xnotes.scss */
.section:nth-child(2n) {
  background-color: #66E3CA;
}

/* line 322, ../sass/xnotes.scss */
.ui-sortable-helper {
  opacity: 0.8;
}

/* line 325, ../sass/xnotes.scss */
.ui-sortable-helper .section {
  box-shadow: 4px 4px 2px 0 #999999;
}

/* line 328, ../sass/xnotes.scss */
.section H3.sectionTitle {
  margin: 0;
  padding: 3px 10px;
  border-radius: 5px 5px 0 0;
  color: #FFFFFF;
  /*background-color: #82B3BF;*/
  cursor: move;
  font-weight: bold;
}

/* line 337, ../sass/xnotes.scss */
.notesList {
  min-height: 2px;
}

/* line 340, ../sass/xnotes.scss */
.notesList > div {
  position: relative;
}

/* line 343, ../sass/xnotes.scss */
.addNote {
  height: 5px;
}

/* line 346, ../sass/xnotes.scss */
.addNote:hover {
  background-color: #779999;
}

/* line 349, ../sass/xnotes.scss */
.handle {
  /*padding-left:10px;*/
  cursor: move;
  background: #045474 url(../images/textures/stripes_2.png) repeat left top;
  padding: 0 28px;
  /*
  border-left:20px solid #3E606F;
  border-top:4px solid #3E606F;
  border-radius : 5px 0 0 0;
  box-shadow: 1px 1px 2px rgba(255,255,255,0.1) inset;
  */
}

/* line 361, ../sass/xnotes.scss */
.handle:hover, .handle.active {
  box-shadow: 2px 2px 2px 0 #666666, 1px 2px 2px rgba(255, 255, 255, 0.3) inset;
}

/* line 364, ../sass/xnotes.scss */
.ui-sortable-helper .handle {
  box-shadow: 2px 2px 2px 0 #666666, 1px 2px 2px rgba(255, 255, 255, 0.3) inset;
}

/* line 367, ../sass/xnotes.scss */
.note {
  background-color: #FDFFFD;
  position: relative;
  cursor: pointer;
}

/* line 372, ../sass/xnotes.scss */
.handle:hover .note {
  background-color: #FCFFF5;
}

/* line 376, ../sass/xnotes.scss */
.noteViewSwitch {
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  left: -20px;
  top: 5px;
  /*border:1px solid #000;
  background-color:#FFF;
  font:normal 15px/10px Arial;
  text-align: center;*/
  border-radius: 15px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background: url("../images/pictos.png") no-repeat -49px -9px;
}

/* line 392, ../sass/xnotes.scss */
.noteViewSwitch.open {
  background-position: -12px -9px;
}

/* line 395, ../sass/xnotes.scss */
.noteResume, .noteContentLink {
  border: 1px solid #999;
  color: #777777;
  min-height: 35px;
}

/* line 401, ../sass/xnotes.scss */
.noteContent {
  border: 1px solid #BCD1F3;
  min-height: 35px;
}

/* line 407, ../sass/xnotes.scss */
.note .defaultSkin table.mceLayout,
.note .defaultSkin .mceIframeContainer,
.note .defaultSkin table.mceLayout tr.mceFirst td {
  border-color: #BCD1F3;
}

/* line 410, ../sass/xnotes.scss */
.note .defaultSkin table.mceLayout {
  position: relative;
  /*top:-28px;*/
}

/* line 414, ../sass/xnotes.scss */
#noteBook .emptyPlaceHighlight {
  min-height: 25px;
  margin-bottom: 5px;
  /*background-color:#91AA9D;
  border:1px solid #3E606F;*/
  border: 2px dotted #3E606F;
}

/* line 421, ../sass/xnotes.scss */
.trash {
  display: inline-block;
  width: 32px;
  height: 36px;
  padding: 4px;
  /*background: #ffffff url(../images/trash.png) no-repeat center;*/
  background: #d47474 url("../images/pictos.png") no-repeat -78px 1px;
  width: 27px;
  height: 27px;
  /*border: 5px solid #FFF;*/
  border-radius: 5px;
  box-shadow: 0 0 0 2px #FFFFFF, 0 1px 3px 2px #999999;
  position: fixed;
  z-index: 100;
  right: 10px;
}

/* line 437, ../sass/xnotes.scss */
.trash * {
  display: inline-block;
  min-height: 10px;
  min-width: 100%;
}

/* line 442, ../sass/xnotes.scss */
footer {
  clear: both;
}

/* line 446, ../sass/xnotes.scss */
#contentEditToolBar {
  position: absolute;
  top: 30px;
}

/* line 450, ../sass/xnotes.scss */
#contentEditToolBar li {
  display: inline-block;
  padding: 4px;
  background-color: #049494;
  width: 17px;
  height: 17px;
  border-radius: 17px;
  box-shadow: 0 0 0 4px white, 0 1px 3px 3px #999;
  margin-right: 10px;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}

/* line 464, ../sass/xnotes.scss */
#contentEditToolBar .actionBold {
  font-weight: bold;
}

/* line 467, ../sass/xnotes.scss */
#contentEditToolBar .actionItalic {
  font-style: italic;
}

/* line 470, ../sass/xnotes.scss */
#contentEditToolBar .actionUnderline {
  text-decoration: underline;
}

/*
body{
	background-color:#D8CAA8;
	padding-top: 20px;
	box-shadow :
	 0 10px 8px 0 rgba(255,255,255,0.6) inset;
	
}
#mainContent, #userInfo, #col1{
	background-color: #F9F9F9;
	border-radius: 4px;
	border:2px solid #444;
	box-shadow :
	 0 0 1px 1px rgba(0,0,0,0.8),
	 0 0 1px 3px rgba(0,0,0,0.6),
	 0 0 1px 4px rgba(0,0,0,0.4),
	 1px 1px 1px 5px rgba(255,255,255,0.5),
	 1px 2px 4px 0 rgba(255,255,255,0.6) inset;
}
*/
@media screen and (max-width: 910px) {
  /* line 496, ../sass/xnotes.scss */
  html, body {
    height: 100%;
    padding: 0;
  }

  /* line 500, ../sass/xnotes.scss */
  html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* line 505, ../sass/xnotes.scss */
  body {
    position: relative;
  }

  /* line 508, ../sass/xnotes.scss */
  header {
    position: absolute;
  }

  /* line 511, ../sass/xnotes.scss */
  #col1 {
    position: absolute;
    bottom: 0;
    left: -80%;
    width: 80%;
    -webkit-transition: left 0.4s ease;
    -moz-transition: left 0.4s ease;
    -o-transition: left 0.4s ease;
    transition: left 0.4s ease;
  }
  /* line 517, ../sass/xnotes.scss */
  #col1.active {
    left: 0;
  }

  /* line 521, ../sass/xnotes.scss */
  #mainContent {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }

  /* line 527, ../sass/xnotes.scss */
  #noteBook {
    overflow: auto;
    height: 85%;
    padding: 0;
  }

  /* line 532, ../sass/xnotes.scss */
  #toolsLinks {
    position: absolute;
    bottom: 3px;
    left: 100%;
  }
  /* line 536, ../sass/xnotes.scss */
  #toolsLinks .trash {
    display: none;
  }

  /* line 540, ../sass/xnotes.scss */
  .listSwitcher {
    background: #049494 url("../images/pictos.png") no-repeat -2px -42px;
    width: 35px;
    height: 35px;
    border-radius: 20px;
  }
  /* line 545, ../sass/xnotes.scss */
  .listSwitcher.active {
    background-position: -33px -42px;
  }
}
